.navbar{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    min-width: 60%;
    background: var(--secondary-color);
    color: black;
    right: 0;
    margin-top: 1rem;
    
    border-radius: var(--border-radius) 0 var(--border-radius) 0;
    transition: all 500ms ease;
    z-index: 1000;
}

.closed{
    transform: translateX(100%);
    margin-right: 6rem;
}
.dots div{
    height: .7rem;
    width: .7rem;
    border-radius: 100%;
    background-color: var(--inactive-color);
}

.link p {
    font-size: 1.5rem;
    letter-spacing: .4rem;
    color: var(--inactive-color);
}

@media (max-width: 1600px) {
    .navbar {
        margin-top: 0;
        width: 100%;
        padding-left: 3rem;
        padding-right: 2rem;
    }

    

    

    .closed{
        transform: translateX(0);
        margin-right: 0;
    }

    .navbar svg {
        display: none;
    }
}

@media (max-width: 800px) {
    .link p {
        font-size: 1rem;
        letter-spacing: .4rem;
        color: var(--inactive-color);
    }

    .navbar{
        padding: 0;
    }

    .dots div{
        height: .3rem;
        width: .3rem;
        border-radius: 100%;
        background-color: var(--inactive-color);
    }
}



.navbar svg {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    left: 1.5rem;
    transition: all 500ms ease;
    cursor: pointer;
}

.open{

}


.closed svg {
    transform: rotate(180deg);
}

.link{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.active p{
    color: black;
    font-weight: bold;
}

.active .dots div {
    background: var(--primary-color)
}

.active .dots {
    gap: .7rem;
}

.link:hover .dots div{
    background: var(--primary-color)
}

.link:hover .dots {
    gap: .8rem;
}

.dots {
    display: flex;
    margin-top: .5rem;
    gap: .5rem;
    transition: all 500ms ease;
}






