.navbar{
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    min-width: 60%;
    background: var(--secondary-color);
    color: black;
    right: 0;
    margin-top: 2rem;
    padding-left: 3rem;
    padding-right: 2rem;
    border-radius: var(--border-radius) 0 var(--border-radius) 0;
    transition: all 500ms ease;
    z-index: 1000;
}

.navbar svg {
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: absolute;
    left: 1.5rem;
    transition: all 500ms ease;
    cursor: pointer;
}

.open{

}
.closed{
    transform: translateX(90%);
}

.closed svg {
    transform: rotate(180deg);
}

.link{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link p {
    font-size: 1.5rem;
    letter-spacing: .4rem;
    color: var(--inactive-color);
}

.active p{
    color: black;
    font-weight: bold;
}

.active .dots div {
    background: var(--primary-color)
}

.active .dots {
    gap: .7rem;
}

.link:hover .dots div{
    background: var(--primary-color)
}

.link:hover .dots {
    gap: .8rem;
}

.dots {
    display: flex;
    margin-top: .5rem;
    gap: .5rem;
    transition: all 500ms ease;
}

.dots div{
    height: .7rem;
    width: .7rem;
    border-radius: 100%;
    background-color: var(--inactive-color);
}




